<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BoletinesCovid19Dengue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Covid - Coronavirus Medical Prevention Template" />
    <meta name="keywords" content="covid19, covid, coronavirus, corona, virus, virology" />
    <meta name="author" content="ThemeMascot" />
    <!-- Page Title -->
    <title>Covid - Coronavirus Medical Prevention Template</title>
    <!-- Favicon and Touch Icons -->
    <link href="~/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="~/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <!-- Stylesheet -->
    <link href="~/assets/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/dist/css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/dist/css/javascript-plugins-bundle.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link href="~/assets/dist/js/menuzord/css/menuzord.css" rel="stylesheet" />
    <!-- CSS | timeline -->
    <link href="~/assets/dist/js/timeline-cp-responsive-vertical/timeline-cp-responsive-vertical.css" rel="stylesheet" type="text/css">
    <!-- CSS | Main style file -->
    <link href="~/css/style-main.css" rel="stylesheet" type="text/css">
    <link id="menuzord-menu-skins" href="~/assets/dist/js/menuzord/css/skins/menuzord-rounded-boxed.css" rel="stylesheet" />
    <!-- CSS | Responsive media queries -->
    <link href="~/assets/dist/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- CSS | Theme Color -->
    <link href="~/css/color-test.css" rel="stylesheet" type="text/css">
    <!-- external javascripts -->
    <script src="~/assets/dist/js/jquery.js"></script>
    <script src="~/assets/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/dist/js/javascript-plugins-bundle.js"></script>
    <script src="~/assets/dist/js/menuzord/js/menuzord.js"></script>
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="~/assets/dist/js/revolution-slider/css/rs6.css">
    <link rel="stylesheet" type="text/css" href="~/assets/dist/css/extra-rev-slider.css">
    <!-- REVOLUTION LAYERS STYLES -->
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="~/assets/dist/js/revolution-slider/js/revolution.tools.min.js"></script>
    <script type="text/javascript" src="~/assets/dist/js/revolution-slider/js/rs6.min.js"></script>
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Header Start -->
    <header id="header" class="header header-layout-type-header-2rows">
        <div class="header-top ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-auto header-top-left align-self-center text-center text-xl-left">
                        @*<ul class="element contact-info">
                                <li class="contact-phone"><i class="fa fa-phone font-icon sm-display-block"></i> Tel: +440-98-5298</li>
                                <li class="contact-email"><i class="fa fa-envelope-o font-icon sm-display-block"></i> info@example.com</li>
                                <li class="contact-address"><i class="fa fa-map-o font-icon sm-display-block"></i> 121 King Street, Melbourne</li>
                            </ul>*@
                    </div>
                    <div class="col-xl-auto ml-xl-auto header-top-right align-self-center text-center text-xl-right">
                        <div class="element">
                            @*<ul class="header-top-nav list-inline">
                                    <li class="menu-item"><a title="Home" class="menu-item-link" href="#"><strong>Home</strong></a></li>
                                    <li class="menu-item"><a title="Home" class="menu-item-link" href="#"><strong>Historia</strong></a></li>
                                    <li class="menu-item"><a title="Home" class="menu-item-link" href="#"><strong>Sitios de Interes</strong></a></li>
                                </ul>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="header-nav-wrapper navbar-scrolltofixed green">
                <div class="menuzord-container header-nav-container green ">
                    <div class="container position-relative">
                        <div class="row">
                            <div class="col">
                                <div class="row header-nav-col-row">
                                    <div class="col-sm-auto align-self-center">
                                        <a class="menuzord-brand site-brand">
                                            <img class="logo-default logo-1x" src="~/images/logo-wide.png" alt="Logo">
                                            <img class="logo-default logo-2x retina" src="~/images/logo-wide@2x.png" alt="Logo">
                                            <img class="logo-default logo-3x retina" src="~/images/logoUnitec.jpg" alt="Logo">
                                        </a>
                                    </div>
                                    <div class="col-sm-auto ml-auto pr-0 align-self-center">
                                        <nav id="top-primary-nav" class="menuzord red" data-effect="fade" data-animation="none" data-align="right">
                                            <ul id="main-nav" class="menuzord-menu">
                                                <li> <a asp-area="Inicio" asp-controller="Home" asp-action="Index">Inicio</a></li>
                                                <li> <a asp-area="Historia" asp-controller="Home" asp-action="Historia">Historia</a></li>
                                                <li> <a asp-area="Sitio de Interes" asp-controller="Home" asp-action="SitioInteres">Sitios de Interes</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="row d-block d-xl-none">
                                    <div class="col-12">
                                        <nav id="top-primary-nav-clone" class="menuzord d-block d-xl-none default menuzord-color-default menuzord-border-boxed menuzord-responsive" data-effect="slide" data-animation="none" data-align="right">
                                            <ul id="main-nav-clone" class="menuzord-menu menuzord-right menuzord-indented scrollable">
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - BoletinesCovid19Dengue - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </div>
     </footer>*@
    @RenderSection("Scripts", required: false)
    <script src="~/assets/dist/js/custom.js"></script>
    <script src="~/assets/dist/js/extra-rev-slider.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
