<!-- Section: About Start -->
<section >
    <div class="container pb-90">
        <div class="section-content">
            <div class="row">
                @*<div class="col-lg-6">
                        <div class="layer-image mb-md-40"> <img src="http://placehold.it/530x590" alt="Image"></div>
                    </div>*@

                <div class="text-center mb-60">
                    <div class="section-title">
                        <div class="title-wrapper">
                            <h2 class="title"> Primeros avances del Observatorio de <span class="text-theme-colored1">COVID-19 y Dengue</span> en Honduras</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <h6 class="text-theme-colored1">27 JULIO 2020</h6>
                    @*<h2 class="mt-0 mb-25">Primeros avances del Observatorio de COVID-19 y Dengue en Honduras</h2>*@
                    <p>
                        El Observatorio COVID-19 y Dengue en Honduras se lanzó el 23 de junio de 2020 como parte de una colaboración
                        internacional entre la Universidad Tecnológica Centroamericana (UNITEC) y los investigadores internacionales del
                        grupo Zectr de Hong Kong y los Estados Unidos.
                    </p>
                    <ul class="about-list">
                        <li>
                            Durante el primer mes, se implementó un registro en línea completado por personas con y sin síntomas de COVID-19 o dengue.
                            Con los datos obtenidos, se busca identificar la distribución de la enfermedad y los focos de infección que ayuden a
                            establecer planes de prevención e intervención contra estas dos epidemias.
                            </
                        <li>
                            Los participantes en el observatorio han llenado su información anónimamente en sus computadoras o teléfonos inteligentes.
                            Los datos han sido recopilados en un servicio de computación ciberseguro en la nube. Dicha plataforma en línea analiza los datos
                            en tiempo real utilizando el llamado aprendizaje automático y otros algoritmos.
                        </li>
                        <li>
                            Históricamente, después de la alarma dada en la ciudad de Wuhan, China, en diciembre de 2019, hemos visto la evolución de la pandemia,
                            que avanzó en febrero al reportarse los primeros casos en Latinoamérica. En nuestra región ya estábamos siendo afectados desde 2019 por
                            virulentos brotes de dengue. El 11 de marzo el gobierno de Honduras anunció que ya había los dos primeros 2 casos en Honduras. A esta fecha,
                            seguimos en emergencia nacional, alerta roja y una cuarentena con restricciones a la movilidad de las personas.
                        </li>
                        <li>
                            A pesar del tiempo acontecido, aún se nota algunas conductas de los ciudadanos que no son ideales para frenar el contagio.
                            El uso de mascarillas al estar en público debe mejorar, igual que la implementación de la protección facial y ocular.
                            Por otro lado, llama la atención la falta de acceso a atención y tratamiento médico por quienes tienen síntomas de COVID-19 y dengue.
                            Debemos estudiar mejor por qué. Se está dando un atraso en la búsqueda de tratamiento, así como la automedicación y el uso de medicina
                            tradicional o herbaria. Esto alerta que tanto ciudadanos como gobierno necesitan revisar sus estrategias.
                        </li>
                        <li>
                            El proyecto sigue bajo el monitoreo del Comité de Ética en Investigación de UNITEC. Seguimos invitando a la población a participar en el registro del Observatorio y a utilizar el Consultorio Solidario Virtual con telemedicina gratuita por si necesitan asesoría para su salud.
                        </li>
                    </ul>
                    <a href="https://bit.ly/3cTb63n" target="_blank" class="btn btn-theme-colored1 mt-25">Llenar Encuesta</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: About End -->
<!-- Section: Spread Start-->
<!-- Section: Spread Start-->
<section>
    <div class="container pt-0 pb-70">
        <div class="section-title">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <div class="text-center mb-60">
                        <div class="section-title">
                            <div class="title-wrapper">
                                <h2 class="title"> Unitec <span class="text-theme-colored1">&</span> Zectr</h2>
                                <div class="paragraph">
                                    <p>Con su ayuda, UNITEC, Zectr y colaboradores podrán continuar como proyecto demostrativo importante en Honduras e incluso en Centroamérica.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    @*<div class="spread-box mb-30">
                            <div class="spread-thumb">
                                <img src="\images\Principal_PNG.png" alt="">
                            </div>
                            <div class="spread-details">
                                <h5 class="title">Observatorio</h5>
                            </div>
                        </div>*@
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="spread-box mb-30">
                        <div class="spread-thumb">
                            <img src="\images\logo.png" alt="">
                        </div>
                        <div class="spread-details">
                            <h5 class="title">Unitec</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="spread-box mb-30">
                        <div class="spread-thumb">
                            <img src="\images\zectLogo.png" alt="">
                        </div>
                        <div class="spread-details">
                            <h5 class="title">Zectr</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    @*<div class="spread-box mb-30">
                            <div class="spread-thumb">
                                <img src="\images\Principal_PNG.png" alt="">
                            </div>
                            <div class="spread-details">
                                <h5 class="title">Ceutec</h5>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Spread End -->
<!-- Section: Spread End -->
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>