<!-- Section: News & Updates Start -->
    <section class="bg-silver-light">
        <div class="container pt-90 pb-70">
            <div class="section-title">
                <div class="row justify-content-md-center">
                    <div class="col-md-8">
                        <div class="text-center mb-60">
                            <div class="section-title">
                                <div class="title-wrapper">
                                    <h2 class="title">Sitios de Interes <span class="text-theme-colored1">Noticias</span></h2>
                                    <div class="paragraph">
                                        <p>Te mostramos estos sitios oficiales, donde puedes consultar informacion sobre la salud.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-4">
                        <div class="tm-sc tm-sc-blog blog-style1-current-theme mb-30">
                            <article class="post">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <div class="post-thumb-inner">
                                            <div class="thumb"> <img src="~/images/OMSMLogo.jpg" alt="Image" /></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">

                                    <h4 style="height: 80px" class="entry-title mb-15"><a href="news-details.html" rel="bookmark">Organización Mundial de la Salud (OMS)</a></h4>
                                    <br />
                                    <div class="pot-excerpt">
                                        <div class="mascot-post-excerpt mb-25">
                                            <p style="height: 300px">
                                                En este sitio web se puede encontrar información y orientaciones de la OMS
                                                acerca del actual brote de enfermedad por coronavirus (COVID-19) que fue
                                                notificado por primera vez en Wuhan (China) el 31 de diciembre de 2019.
                                                En esta página figura información actualizada diariamente.
                                             </p>
                                        </div>
                                    </div>
                                    <a href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019?gclid=CjwKCAjwqML6BRAHEiwAdquMnY26eItwzCH3dRKuzl-TBsuOy-f-6GRKy1oZ-v8VA2Eo8yajt9CFLhoCZxcQAvD_BwE" target="_blank" class="btn btn-sm btn-theme-colored1">Ir al sitio</a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4">
                        <div class="tm-sc tm-sc-blog blog-style1-current-theme mb-30">
                            <article class="post">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <div class="post-thumb-inner">
                                            <div class="thumb"> <img src="~/images/OPSLogo.png" alt="Image" /></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    @*<div class="blog-meta mb-10">
                                        <span class="admin-type mr-10">
                                            <i class="fa fa-user-o text-theme-colored1"></i>
                                            Admin
                                        </span>
                                        <span class="date-type mr-10">
                                            <i class="fa fa-calendar text-theme-colored1"></i>
                                            24 March, 2020
                                        </span>
                                        <span class="comments-type">
                                            <i class="fa fa-comment-o text-theme-colored1"></i>
                                            42
                                        </span>
                                    </div>*@
                                    <h4 style="height: 80px" class="entry-title mb-15"><a href="news-details.html" rel="bookmark">La Organización Panamericana de la Salud (OPS)</a></h4>
                                    <br />
                                    <div class="pot-excerpt">
                                        <div class="mascot-post-excerpt mb-25">
                                            <p style="height: 300px">
                                                La OPS ha lanzado una estrategia de respuesta actualizada y un llamado a los donantes y
                                                socios para ampliar la capacidad de los países de las Américas para responder a la COVID-19.
                                                La estrategia de respuesta descrita en este llamado tiene dos objetivos principales: frenar la transmisión
                                                del virus y mitigar el impacto en la salud del COVID-19 en la Región.
                                            </p>
                                        </div>
                                    </div>
                                    <a href="https://www.paho.org/es/temas/coronavirus/brote-enfermedad-por-coronavirus-covid-19?gclid=CjwKCAjwqML6BRAHEiwAdquMndb3twaDeHvVvZZV1cbHiyOjI2X2zvFN173aDWTmlttJHrTfHvXMwBoC3gwQAvD_BwE" target="_blank" class="btn btn-sm btn-theme-colored1">Ir al sitio</a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4">
                        <div class="tm-sc tm-sc-blog blog-style1-current-theme mb-30">
                            <article class="post">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <div class="post-thumb-inner">
                                            <div class="thumb"> <img src="~/images/UNAHLogo.png" alt="Image" /></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    @*<div class="blog-meta mb-10">
                                        <span class="admin-type mr-10">
                                            <i class="fa fa-user-o text-theme-colored1"></i>
                                            Admin
                                        </span>
                                        <span class="date-type mr-10">
                                            <i class="fa fa-calendar text-theme-colored1"></i>
                                            24 March, 2020
                                        </span>
                                        <span class="comments-type">
                                            <i class="fa fa-comment-o text-theme-colored1"></i>
                                            42
                                        </span>
                                    </div>*@
                                    <h4 style="height: 80px" class="entry-title mb-15"><a href="news-details.html" rel="bookmark">Universidad Nacional Autónoma de Honduras (UNAH)</a></h4>
                                    <br />
                                    <div class="pot-excerpt">
                                        <div class="mascot-post-excerpt mb-25">
                                            <p style="height: 300px">
                                                La Universidad Nacional Autónoma de Honduras (UNAH) es una institución autónoma, laica y estatal
                                                de la República de Honduras. Considerada por muchos como la mejor universidad de dicha nación,
                                                destacándose por sus aportes tecnológicos y de investigación a la sociedad hondureña y extranjera.
                                            </p>
                                        </div>
                                    </div>
                                    <a href="https://www.unah.edu.hn/coronavirus" target="_blank" class="btn btn-sm btn-theme-colored1">Ir al sitio</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Section: News & Updates End -->

<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

<!-- end wrapper -->
<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
@*<script src="~/assets/dist/js/custom.js"></script>
<script src="~/assets/dist/js/extra-rev-slider.js"></script>*@