/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #F75555;
$theme-color2: #1A1053;
$theme-color3: #FA6401;
$theme-color4: #6236FF;

@import "parts/loader";